.background-blue {
  background-color: #0049ff;
}
.background-orange {
  background-color: #edb14a;
}
.hidden {
  display: none !important;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.flex {
  display: flex !important;
}
.flex-wrap-wrap {
  flex-wrap: wrap;
}
.flex-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.flex-1 {
  flex: 1;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.font-size-16 {
  font-size: 16px !important;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-40 {
  font-size: 40px;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-normale {
  font-weight: normal;
}
.main-transition {
  transition: 0.3s;
}
.muted-text {
  color: #646464;
}
.capital-letter {
  text-transform: uppercase;
}
.text-align-start {
  text-align: start;
}
.color-white {
  color: white;
}
.background-white {
  background-color: white;
}
.background-blue-sky {
  background-color: #0049ff08;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.padding-30 {
  padding: 30px;
}
.padding-40 {
  padding: 40px;
}
.margin-10-0 {
  margin: 10px 0;
}
.border-none {
  outline: none;
  border: none;
}
